/* 글자를 진하게 하기 
* {
    font-weight: bold;
} */ 
/* .main {
	background-color: skyblue;
	width: 100px;
	padding: 24px;
}
.sub {
	background-color: pink;
	padding: inherit;
} */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');

body {
    text-align: center;
    background-color: bisque;
}

.itzy {
    color : #ff3399;
    font-size: 15px;
    text-align: center;
    padding :3px 6px;
}
/* a[name=Yeji]:hover{
    background-color:chartreuse;
} */

#title {
    background-color: rgba(102,205,170,0.5);
    font: italic normal 50px 'Kirang Haerang', cursive;
    /* font-family: 'Kirang Haerang',cursive;
    font-size: 20px;
    font-weight: normal; */
    text-align: center;
    color:black;
    /* width: 500px; */
}
#title2 {
    background-color: #ee8dbd;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 25px;
    color:white;
    text-shadow: 2px 2px 4px #000000;
    /* width: 420px; */
}
.date{
    color:white;
    background-color: cornflowerblue;
    border-radius: 5px;
    border-color: white;
}

.submit{
    background:#f770b3;
    color:white;
    font-size: 12px;
    margin: 25px;
    padding: 5px 10px;
    border-radius: 4px;
    border-color:white;
}
#submit{
    font-weight: bold;
    color:brown;
}


#select-ITZY{
    background-color:#f770b3;
    color:aliceblue;
    border-radius: 4px;
    font-size: 15px;
    border-color: #f770b3;
    margin:25px;
    padding: 4px 8px;
}

.recent {
    background-color: #f770b3;
    color:white;
    border-radius: 4px;
    padding: 12px 24px;
	margin-bottom: 8px;
    display: inline-block;

}
.recent:hover {
    background-color:cornflowerblue;
    transition: all 2s;
}


/* 타겟을 지정하기
a[target="_blank or _self"] {
	color: red;
} */

/* 클래스에 타겟을 지정하기
 .link[target="_blank"] {
	color: red;
} */



/* 방문하지 않은 링크일 때 */
/* a:link {
	color: turquoise;
} */
/* 방문한 링크일 때 */
/* a:visited {
	color: green;
} */
/* 링크에 마우스를 올렸을 때 */
/* a:hover {
	background-color: yellow;
} */
/* 선택된 링크일 때 */
/* a:active {
	background-color: blue;
} */