* {
    box-sizing: border-box;
  }

  a {
    color : red;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
    background-color: green;
    padding: 10px;
    text-align: center;
    font-size: 35px;
    color: black;
  }
  
  nav {
    background: #ccc;
      padding: 10px;
  }
  
  section {
      background: #bbb;
      height: 300px;
      padding: 10px;
      float: left;
      width: 70%;
  }
  
  article {
    float: left;
    padding: 20px;
      margin-bottom: 10px;
    width: 70%;
    background-color: #f1f1f1;
      margin-left: 15px;
  }
  
  aside{
      float: left;
      width: 30%;
      padding: 10px;
      background-color: #444;
      height: 300px;
      color: #fff;
  }
  
  footer {
      float: left;
    background-color: #777;
      width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
  }